html {
  font-size: 16px;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-top: 10px;
}
.container {
  max-width: 1028px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin: 0 auto;
}
body > div, body > nav {
  margin-left: 60px;
  margin-right: 60px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
p {
  line-height: 1.7rem;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.selected {
  color: #ed9013;
}
a:hover, button:hover {
  color: #ed9013;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header img {
  height: 40px;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
nav img {
  margin-right: auto;
}
nav a {
  margin-left: 30px;
  padding: 5px 0px;
  font-weight: bold;
  font-size: 1rem;
}
nav a.selected {
  border-bottom: solid 2px #ed9013;
}
.codeblock {
  background-color: #F6F6F6;
  line-height: 1.3rem;
  padding: 8px;
}
code {
  background-color: #F6F6F6;
}
code varl {
  color: #c95532;
}
code func {
  color: #ed9013;
}
code comm {
  color: #888;
}
#hero {
  position: relative;
  padding: 20px 12px 20px;
  text-align: center;
}
#slogan {
  padding: 100px 0;
  font-size: 2.5rem;
}
#tagline {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 20px 40px;
  font-weight: normal;
}
footer {
  margin-top: 40px;
  background-color: #f6f6f6;
  text-align: center;
}
footer img {
  height: 32px;
  padding: 8px 0;
}
#demo-nav {
  display: flex;
}
.demo-link {
  font-size: 1rem;
  padding: 8px 16px 12px;
  flex-grow: 1;
}
.demo-link.selected {
  border: solid 1px lightgray;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}
.demo-link:not(.selected) {
  border-bottom: solid 1px lightgray;
}
.demo-type {
  font-size: 0.7rem;
  font-weight: bold;
}
.demo-window {
  padding: 16px;
  border: solid 1px lightgray;
  border-top: none;
  box-shadow: 0px 12px 28px -21px black;
  margin-bottom: 48px;
}
.demo-window:not([demo="1"]) {
  display: none;
}
#tag2 {
  padding: 20px 0 0;
}
#tagline2 {
  font-size: 1.2rem;
}
#summaries {
  display: flex;
  align-items: center;
}
#notebook-shot {
  width: 600px;
  margin-left: 54px;
}

.bg-image {
  position: absolute;
  z-index: -1;
  opacity: 0.45;
}
.bg-image:hover {
  opacity: 1;
}
h3 {
  margin-top: 54px;
}
.instructions {
  padding: 16px 0;
}
#contact-box {
  background-color: whitesmoke;
  padding: 16px;
  margin-top: 40px;
}
#contact-box h3 {
  margin: 0
}
form {
  display: flex;
  margin: 0;
}
#email {
  flex-grow: 1;
  background-color: white;
  border: solid 1px black;
  box-sizing: border-box;
  margin-right: 8px;
  cursor: text;
}
#submit, #email {
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 2px;
}
.screenshot {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.colab {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  padding: 12px;
  background-color: lightgray;
  opacity: 0.8;
  transition: all 0.2s ease;
}
.screenshot:hover .colab {
  opacity: 1;
  font-size: 18px;
}
.screenshot img {
  max-width: 100%;
  max-height: 360px;
}
#gallery {
  display: flex;
  margin: -30px 0 0 -10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app_card {
  padding: 8px;
  border: solid 1px lightgray;
  box-shadow: 0px 12px 34px -21px gray;
  width: 280px;
  margin: 30px 10px;
  cursor: pointer;
}
.app_card:hover {
  box-shadow: 0px 12px 34px -21px black;
}
.app_card h4 {
  text-align: center;
}
.app_card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
