html {
  font-size: 20px;
}
.container {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 24px 0;
}
header h1 {
  margin-bottom: 0;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav a {
  padding: 4px 10px;
  margin-left: 10px;
  color: gray;
  font-size: 20px;
}
.selected {
  font-weight: bold;
}
.selected, .primary {
  color: #a333c8;
}
.secondary {
  color: gray;
}
body {
  font-size: 1rem;
}
h1 {
  font-size: 44px;
}
section {
  padding: 64px 0;
}
#examples, #top-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  padding: 32px 0 0;
}
#examples-holder {
  margin-top: 20px;
  background: rgb(131,58,180);
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  padding: 40px 0 20px;
}
.shadow {
  box-shadow: 0px 12px 34px -21px black;
}
.display-screen {
  width: 220px;
  box-sizing: content-box;
}
.image-holder {
  height: 220px;
  width: 220px;
  background-color: whitesmoke;
  border: solid 9px whitesmoke;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-holder img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.caption {
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  color: white;
}
#logos {
  background-color: #f5f5f5;
  padding: 15px;
  display: flex;
  justify-content: center;
}
#logos img {
  height: 35px;
  margin: 0 30px;
}
#statements_sec {
  padding: 20px 0;
}
#statements {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: -30px;
}
.statement {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 30px;
  text-align: center;
}
.statement img {
  height: 90px;
  margin: 0 auto;
}
.statement p {
  font-size: 0.9rem;
  text-align: left;
}
.details {
  display: flex;
}
.details div {
  background-color: #f5f5f5;
  padding: 16px;
  box-sizing: content-box;
  margin-bottom: 0;
}
.details img {
  width: 600px;
  height: 400px;
  margin-left: 50px;
}
#contact-sec {
  padding-top: 0;
}
#contact-box {
  border: solid 1px #EEEEEE;
  padding: 20px;
  overflow: auto;
}
#submit {
  float: right;
}
#course_select {
  font-size: 2rem;
  margin-top: 24px;
  font-weight: bold;
}

#main-page {
  background-color: white;  
  margin-bottom: 60px;
  padding-bottom: 20px;
}
#main-page button {
  margin-bottom: 16px;
}
#main-page h2 {
  padding-top: 20px;
}