html {
  font-size: 16px;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-top: 10px;
}
.container {
  max-width: 1028px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin: 0 auto;
}
body > div, body > nav {
  margin-left: 60px;
  margin-right: 60px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
p {
  line-height: 2em;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.selected {
  color: #ed9013;
}
a:hover, button:hover {
  color: #ed9013;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header img {
  height: 40px;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
nav img {
  margin-right: auto;
}
nav a {
  margin-left: 30px;
  padding: 5px 0px;
  font-weight: bold;
  font-size: 1rem;
}
nav a.selected {
  border-bottom: solid 2px #ed9013;
}
.codeblock {
  background-color: #F6F6F6;
  line-height: 1.3rem;
  padding: 8px;
}
code {
  background-color: #F6F6F6;
}
code varl {
  color: #c95532;
}
code func {
  color: #ed9013;
}
code comm {
  color: #888;
}
#hero {
  padding: 32px 12px 48px;
  text-align: center;
}
h2 {
  font-size: 2.5rem;
}
#tagline {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 20px 40px;
  color: gray;
  font-weight: normal;
}
footer {
  margin-top: 40px;
  background-color: #f6f6f6;
  text-align: center;
}
footer img {
  height: 32px;
  padding: 8px 0;
}
#demo-nav {
  display: flex;
}
.demo-link {
  font-size: 1rem;
  padding: 8px 16px 12px;
  flex-grow: 1;
}
.demo-link.selected {
  border: solid 1px lightgray;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}
.demo-link:not(.selected) {
  border-bottom: solid 1px lightgray;
}
.demo-window {
  padding: 16px;
  border: solid 1px lightgray;
  border-top: none;
  box-shadow: 0px 12px 28px -21px black;
  margin-bottom: 60px;
}
.demo-window:not([demo="1"]) {
  display: none;
}
.instructions {
  padding: 16px 0;
}