body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
textarea, select, input, button {
  outline: none;
}
.mobile {
  display: none;
}
.primary {
  background-color: #f39c12;
  color: white;
}
nav {
  position: relative;
}
a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}
body > * {
  padding-left: 10%;
  padding-right: 10%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header > img {
  height: 30px;
  padding: 6px 10px 4px 12px;
  background-color: white;
  border-radius: 5px;
}
nav > a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 20px;
  margin-left: 10px;
}
#hero {
  width: 100%;
  background-size: cover;
  padding: 10px 15% 60px;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
h2 {
  font-size: 60px;
  margin: 30px 0 20px;
}
h3 {
  line-height: 1.8em;
  font-size: 30px;
  font-weight: normal;
}
#submit, #request_button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}
#submit:hover, #request_button:hover {
  background-color: #f8b851;
}
.info_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
.info_box > *:nth-child(2) {
  margin-left: 100px;
}
.info {
  line-height: 1.8em;
}
.info_box img {
  height: 300px;
}
.input_row {
  display: flex;
}
.input_row label {
  flex-grow: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-left: 20px;
}
.input_row label:first-child {
  margin-left: 0;
}
label input, label textarea {
  width: 100%;
  border: none;
  font-size: 22px;
  padding: 6px;
  background-color: #EEE;
}
label input::placeholder {
  font-size: 18px;
  font-style: italic;
}
#submit {
  background-color: #f39c12 !important;
  color: white !important;
  float: right;
}
form {
  margin-bottom: 20px;
  overflow: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 20;
  top: 40;
}
.dropdown-content em {
  font-size: 14px;
  color: gray;
}
.dropdown-content > * {
  padding: 5px 8px;
  display: block;
}
.dropdown-content a {
  margin-top: 6px;
}
.dropdown-content a:hover {
  background-color: #DDD;
}
.show {
  display: block !important;
}
#myDropdown {
  color: black;
}

@media only screen and (max-width: 800px) {
  .mobile {
    display: block;
  }
  .widescreen {
    display: none;
  }
  form {
    padding: 0 15px;
  }
  #login, #user {
    float: left;
    width: 100%;
  }
}
