<html>

<head>
    <title>Gradio | Docs</title>
    {% include 'static_header.html' %}
    <link href="static/home/style/prism.css" rel="stylesheet">
</head>

<body>
    <header class="container">
        <img id="logo" src="static/home/img/logo_inline.png" />
        <nav>
            <a href="/">Home</a>
            <a href="/getting_started">Getting Started</a>
            <a class="selected" href="/docs">Docs</a>
            <a href="/ml_examples" class="hidable">ML Examples</a>
            <a href="/hub">Hub</a>
            <a id="contact-link" href="/#contact-box" class="hidable">Contact</a>
        </nav>
    </header>
    <main id="docs" class="container">
        <div id=sidebar>
            <h4>Creating Interfaces</h4>
            <a href="#interface">Interfaces</a>
            <a href="#launch">Launching</a>
            <h4>Input Components</h4>
            {% for input in docs["inputs"] %}
            <a href="#i_{{ input["name"].lower() }}">{{ input["name"] }}</a>
            {% endfor %}
            <h4>Output Components</h4>
            {% for output in docs["outputs"] %}
            <a href="#o_{{ output["name"].lower() }}">{{ output["name"] }}</a>
            {% endfor %}
        </div>
        <div id="docs-content">
            <h2>Creating an Interface</h2>
            <div class="func">
                <h3 id="interface">gradio.<span>Interface(</span><!--
                 -->{% for param in docs.interface["params"] %}<!--
                   -->{% if param|length == 1 %}<!--
                     -->{{ param[0] }}<!--
                   -->{% else %}<!--
                     -->{{ param[0] }}={{ param[1] }}<!--
                   -->{% endif %}<!--
                   -->{% if not loop.last %}, {% endif %}<!--
                 -->{% endfor %}<span>)</span><!--
             --></h3>
                <p>{{ docs.interface["doc"] }}</p>
                <h4>Parameters</h4>
                <ul>
                    {% for param in docs.interface["params_doc"] %}
                    <li><strong>{{ param[0] }}</strong> <em>({{ param[1] }})</em> - {{ param[2] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="func">
                <h3 id="launch">gradio.Interface.<span>launch(</span><!--
                 -->{% for param in docs.launch["params"] %}<!--
                   -->{% if param|length == 1 %}<!--
                     -->{{ param[0] }}<!--
                   -->{% else %}<!--
                     -->{{ param[0] }}={{ param[1] }}<!--
                   -->{% endif %}<!--
                   -->{% if not loop.last %}, {% endif %}<!--
                 -->{% endfor %}<span>)</span><!--
             --></h3>
                <p>Generates the UI for the interface.</p>
                <h4>Parameters</h4>
                <ul>
                    {% for param in docs.launch["params_doc"] %}
                    <li><strong>{{ param[0] }}</strong> <em>({{ param[1] }})</em> - {{ param[2] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <h2>Input Components</h2>
            {% for func in docs["inputs"] %}
            <div class="func">
                <h3 id="i_{{ func["name"].lower() }}">gradio.inputs.<span>{{ func["name"] }}(</span><!--
                 -->{% for param in func["params"] %}<!--
                   -->{% if param|length == 1 %}<!--
                     -->{{ param[0] }}<!--
                   -->{% else %}<!--
                     -->{{ param[0] }}={{ param[1] }}<!--
                   -->{% endif %}<!--
                   -->{% if not loop.last %}, {% endif %}<!--
                 -->{% endfor %}<span>)</span><!--
             --></h3>
                <p>{{ func["doc"] }}</p>
                <p>Input type: <strong>{{ func["type"] }}</strong></p>
                <h4>Parameters</h4>
                <ul>
                    {% for param in func["params_doc"] %}
                    <li><strong>{{ param[0] }}</strong> <em>({{ param[1] }})</em> - {{ param[2] }}</li>
                    {% endfor %}
                </ul>
                <h4>String Shortcuts</h4>
                {% if func["shortcuts"]|length %}
                <ul>
                    {% for param in func["shortcuts"] %}
                    <li>"{{ param[0] }}" - 
                        {% if param[1]|length == 0 %}
                        Uses defaults implementation.
                        {% else %}
                            Sets <code>
                            {% for pair in param[1].items() %}
                              {{pair[0]}}={{pair[1]}}<!--
                             -->{% if not loop.last %},{% endif %}
                            {% endfor %}
                            </code>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <em>None.</em>
                {% endif %}
                {% if func["interpret"] %}
                <h4>Interpretation</h4>
                This interface supports interpretation. {{ func["interpret"] }}
                {% endif %}
                <h4>Demos</h4>
                <div class="all_demo_screenshots">
                {% for demo in func["demos"] %}
                  <div class="demo">
                    <strong>{{ demo[0] }}:</strong>
                    <a class="demo_code" target="_blank" href="https://github.com/gradio-app/gradio/blob/master/demo/{{ demo[0] }}">
                      Link to Code
                    </a>
                    <div class="demo_screenshots">
                      {% for screenshot in demo[1] %}
                      <img src="https://github.com/gradio-app/gradio/blob/master/demo/screenshots/{{ demo[0][:-3] }}/{{ screenshot }}?raw=true">
                      {% endfor %}
                    </div>                      
                  </div>
                {% endfor %}
                </div>
              </div>
            {% endfor %}
            <h2>Output Components</h2>
            {% for func in docs["outputs"] %}
            <div class="func">
                <h3 id="o_{{ func["name"].lower() }}">gradio.outputs.<span>{{ func["name"] }}(</span><!--
                 -->{% for param in func["params"] %}<!--
                   -->{% if param|length == 1 %}<!--
                     -->{{ param[0] }}<!--
                   -->{% else %}<!--
                     -->{{ param[0] }}={{ param[1] }}<!--
                   -->{% endif %}<!--
                   -->{% if not loop.last %}, {% endif %}<!--
                 -->{% endfor %}<span>)</span><!--
             --></h3>
                <p>{{ func["doc"] }}</p>
                <p>Output type: <strong>{{ func["type"] }}</strong></p>
                <h4>Parameters</h4>
                <ul>
                    {% for param in func["params_doc"] %}
                    <li><strong>{{ param[0] }}</strong> <em>({{ param[1] }})</em> - {{ param[2] }}</li>
                    {% endfor %}
                </ul>
                <h4>String Shortcuts</h4>
                {% if func["shortcuts"]|length %}
                <ul>
                    {% for param in func["shortcuts"] %}
                    <li>"{{ param[0] }}" - 
                        {% if param[1]|length == 0 %}
                        Uses defaults implementation.
                        {% else %}
                            Sets <code>
                            {% for pair in param[1].items() %}
                              {{pair[0]}}={{pair[1]}}<!--
                             -->{% if not loop.last %},{% endif %}
                            {% endfor %}
                            </code>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <em>None.</em>
                {% endif %}
                <h4>Demos</h4>
                <div class="all_demo_screenshots">
                {% for demo in func["demos"] %}
                  <div class="demo">
                    <strong>{{ demo[0] }}:</strong>
                    <a class="demo_code" target="_blank" href="https://github.com/gradio-app/gradio/blob/master/demo/{{ demo[0] }}">
                      Link to Code
                    </a>
                    <div class="demo_screenshots">
                      {% for screenshot in demo[1] %}
                      <img src="https://github.com/gradio-app/gradio/blob/master/demo/screenshots/{{ demo[0][:-3] }}/{{ screenshot }}?raw=true">
                      {% endfor %}
                    </div>                      
                  </div>
                {% endfor %}
                </div>
              </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <div id="footer-set" class="container">
            <img id="bottom-logo" src="static/home/img/logo_inline.png" />
            <div>
                <a href="https://twitter.com/GradioML" target="_blank"><img class="social-logo" src="static/home/img/twitter.png" /></a>
                <a href="https://github.com/gradio-app/gradio"><img class="social-logo" src="static/home/img/github.svg" /></a>
            </div>
        </div>
    </footer>
    <script src="static/home/js/prism.js"></script>
</body>

</html>