    <!-- VENDOR -->
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/jquery.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/html2canvas.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/jquery-ui.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/jquery.ui.touch-punch.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/jsonTree.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/fabric.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/tui-code-snippet.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/FileSaver.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/tui-color-picker.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/tui-image-editor.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/white-theme.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/black-theme.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/wavesurfer.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/p5.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/p5.sound.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/p5.dom.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/jexcel.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/jsuites.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/cropper.min.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/sketchpad.js"></script>
    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/vendor/webcam.min.js"></script>

    <script src="https://gradio-static.s3-us-west-2.amazonaws.com/bundle-min.js"></script>

