<!-- VENDOR -->
<script src="static/js/vendor/jquery.min.js"></script>
<script src="../static/js/vendor/html2canvas.min.js"></script>
<script src="../static/js/vendor/jquery-ui.min.js"></script>
<script src="../static/js/vendor/fabric.js"></script>
<script src="../static/js/vendor/tui-code-snippet.min.js"></script>
<script src="../static/js/vendor/FileSaver.min.js"></script>
<script src="../static/js/vendor/tui-color-picker.js"></script>
<script src="../static/js/vendor/tui-image-editor.js"></script>
<script src="../static/js/vendor/white-theme.js"></script>
<script src="../static/js/vendor/black-theme.js"></script>

<script src="static/js/utils.js"></script>
<script src="static/js/all_io.js"></script>
<script src="static/js/interfaces/input/image.js"></script>
<script src="static/js/vendor/sketchpad.js"></script>
<script src="static/js/interfaces/input/sketchpad.js"></script>
<script src="static/js/interfaces/input/textbox.js"></script>
<script src="static/js/interfaces/input/radio.js"></script>
<script src="static/js/interfaces/input/checkbox_group.js"></script>
<script src="static/js/interfaces/input/checkbox.js"></script>
<script src="static/js/interfaces/input/dropdown.js"></script>
<script src="static/js/interfaces/input/slider.js"></script>
<script src="static/js/vendor/webcam.min.js"></script>
<script src="static/js/interfaces/input/webcam.js"></script>
<script src="static/js/interfaces/input/microphone.js"></script>
<script src="static/js/vendor/p5.min.js"></script>
<script src="static/js/vendor/p5.sound.min.js"></script>
<script src="static/js/vendor/p5.dom.min.js"></script>
<script src="static/js/interfaces/output/image.js"></script>
<script src="static/js/interfaces/output/label.js"></script>
<script src="static/js/interfaces/output/key_values.js"></script>
<script src="static/js/interfaces/output/textbox.js"></script>
<script src="static/js/gradio.js"></script>
