<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123499302-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123499302-2');
  </script>
  <title>Gradio | Gallery</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="static/home/style/style.css" rel="stylesheet">
</head>

<body>
  <header class="container">
    <img id="logo" src="static/home/img/logo_inline.png" />
    <nav>
      <a href="/">Home</a>
      <a href="/getting_started">Getting Started</a>
      <a class="selected" href="/hub">Hub</a>
      <a href="/#contact-box">Contact</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <h2>Gallery</h2>
      <div id="gallery">
        <div class="app_card">
          <img src="static/home/img/demo-screenshot-1.jpg">
          <h4>Image Q&amp;A</h4>
          <p>
            Upload an image, and ask any question that can be answered from the content of the image.
            The model will analyze the image to return a text response.
          </p>
        </div>
        <div class="app_card">
          <img src="static/home/img/demo-screenshot-2.jpg">
          <h4>Lung Segmentation</h4>
          <p>
            This model will analyze a lung X-ray and highlight the portion of the result that is the lung.
          </p>
        </div>
        <div class="app_card">
          <img src="static/home/img/demo-screenshot-3.jpg">
          <h4>Coronavirus</h4>
          <p>
            This model will analyze a lung X-ray and highlight the portion of the result that is the lung.
          </p>
        </div>
        <div class="app_card">
          <img src="static/home/img/demo-screenshot-4.jpg">
          <h4>Plagiarism Detector</h4>
          <p>
            This model will analyze a lung X-ray and highlight the portion of the result that is the lung.
          </p>
        </div>
        <div class="app_card">
          <img src="static/home/img/demo-screenshot-5.jpg">
          <h4>Text to Speech</h4>
          <p>
            This model will analyze a lung X-ray and highlight the portion of the result that is the lung.
          </p>
        </div>
        <div class="app_card">
          <img src="static/home/img/demo-screenshot-1.jpg">
          <h4>Text Reverse</h4>
          <p>
            This is a model that will take in a string and reverse it so,
            os ti esrever dna gnirts a ni ekat lliw taht ledom a si sihT
          </p>
        </div>
      </div>        
    </div>
  </main>

</div>
<body>

</html>