<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123499302-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123499302-2');
  </script>
  <title>Gradio | Getting Started</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="static/home/style/style.css" rel="stylesheet">
</head>

<body>
  <header class="container">
    <img id="logo" src="static/home/img/logo_inline.png" />
    <nav>
      <a href="/">Home</a>
      <a class="selected" href="/getting_started">Getting Started</a>
      <a href="/gallery">Gallery</a>
      <a href="/#contact-box">Contact</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <h2>Getting Started</h2>
      <p>Gradio can wrap almost any Python function with an easy to use interface. Let's take a look at a few examples.</p>
      <div class="codeblock"><code>
        import <varl>gradio</varl> as <varl>gr</varl><br><br>
        def <func>face_segmentation(</func><varl>img</varl><func>)</func>:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;<comm># ... implement face segmentation model on input 200x200 numpy array</comm><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<comm># ... return segmentation mask as numpy array</comm><br><br>
        <varl>webcam</varl> = gr.in.Webcam(<varl>shape</varl>=(200, 200))<br>
        gr.<func>Interface(</func><varl>fn</varl>=<func>face_segmentation</func>, 
        <varl>inputs</varl>=webcam, <varl>outputs</varl>="image"<func>)</func>.<func>launch()</func>
      </code></div>
      <p>This code will produce the image below.</p>
      <div class="screenshot">
        <div class="colab">Click here to open this model in Colab!</div>
        <img src="static/home/img/demo-screenshot-1.jpg">
      </div>
    </div>

</div>
<body>

</html>