<html>

<head>
  <title>Gradio | Getting Started</title>
  <link href="static/home/style/style.css" rel="stylesheet">
  {% include 'header.html' %}
  <link href="static/home/style/prism.css" rel="stylesheet">
</head>

<body>
  <header class="container">
    <a href="/"><img id="logo" src="static/home/img/logo_inline.png" /></a>
    <nav>
      <a href="/">Home</a>
      <a class="selected" href="/getting_started">Getting Started</a>
      <a href="/docs">Docs</a>
      <a href="/ml_examples" class="hidable">ML Examples</a>
      <a href="/hub" class="hidable">Hub</a>
      <a id="contact-link" href="/#contact-box" class="hidable">Contact</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <h2>Getting Started</h2>
      <h3>Quick Start</h3>
      <p>To get Gradio running with a simple example, follow these three steps:</p>
      <p>1. Install Gradio from pip.</p>
      <pre><code class="lang-bash">pip install gradio</code></pre>
        <p>2. Run the code below as a Python script or in a Python notebook (or in a         <a href="https://colab.research.google.com/drive/18ODkJvyxHutTN0P5APWyGFO_xwNcgHDZ?usp=sharing" target="_blank">colab notebook</a>).</p>

      <pre><code class="lang-python">import gradio as gr

def greet(name):
  return "Hello " + name + "!"

gr.Interface(fn=greet, inputs="text", outputs="text").launch()</code></pre>

      <p>3. The interface below will appear automatically within the Python notebook, or pop in a browser on <a href="http://localhost:7860" target="_blank">http://localhost:7860</a> if running from a script. </p>
      <div id="interface_4"></div>
      <h3>The Interface</h3>
      <p>Gradio can wrap almost any Python function with an easy to use interface. That function could be anything from a simple tax calculator to a pretrained model. </p>
      <p>
        The core <code>Interface</code> class is initialized with three parameters:
        <ul>
          <li><code>fn</code>: the function to wrap</li>
          <li><code>inputs</code>: the input component type(s)</li>
          <li><code>outputs</code>: the output component type(s)</li>
        </ul>
      </p>
        With these three arguments, we can quickly create interfaces and <code>launch()</code> them. But what if you want to change
        how the UI components look or behave?

      <h3>Customizable Components</h3>
      <p>
        What if we wanted to customize the input text field - for example, we wanted it to be larger and have a text
        hint? If we use the actual input class for <code>Textbox</code> instead of using the string shortcut, we have
        access to much more customizability. To see a list of all the components we support and how you
          can customize them, check out the <a href="/docs">Docs</a>.
      </p>
      <pre><code class="lang-python">import gradio as gr

def greet(name):
  return "Hello " + name + "!"

gr.Interface(
  greet, 
  gr.inputs.Textbox(lines=2, placeholder="Name Here..."), 
  "text").launch()</code></pre>
      <div id="interface_5"></div>
      <h3>Multiple Inputs and Outputs</h3>
      <p>
        Let's say we had a much more complex function, with multiple inputs and outputs. In the example below, we have a
        function that takes a string, boolean, and number, and returns a string and number. Take a look how we pass a
        list of input and output components.
      </p>
      <pre><code class="lang-python">import gradio as gr

def greet(name, is_morning, temperature):
  salutation = "Good morning" if is_morning else "Good evening"
  greeting = "%s %s. It is %s degrees today" % (salutation, name, temperature)
  celsius = (temperature - 32) * 5 / 9
  return greeting, round(celsius, 2)

gr.Interface(
  greet, 
  ["text", "checkbox", gr.inputs.Slider(0, 100)],
  ["text", "number"]).launch()</code></pre>
      <div id="interface_6"></div>
      <p>We simply wrap  the components in a list. Furthermore, if we wanted to compare multiple functions that have the same input and return types, we can even pass a list of functions for quick comparison.</p>
      <h3>Working with Images</h3>
      <p>Let's try an image to image function. When using the <code>Image</code> component, your function will receive a
        numpy array of your specified size, with the shape <code>(width, height, 3)</code>, where the last dimension represents the RGB values. We'll return an image as well in the form of a numpy array.</p>
      <pre><code class="lang-python">import gradio as gr
import numpy as np

def sepia(img):
  sepia_filter = np.array([[.393, .769, .189],
                           [.349, .686, .168],
                           [.272, .534, .131]])
  sepia_img = img.dot(sepia_filter.T)
  sepia_img /= sepia_img.max()                          
  return sepia_img

gr.Interface(
  sepia, gr.inputs.Image(shape=(200, 200)), "image").launch()</code></pre>
      <div id="interface_7"></div>

      <p>Additionally, our <code>Image</code> input interface comes with
        an 'edit' button which opens tools for cropping, flipping,
        rotating, drawing over,
        and applying filters to images. We've found that manipulating
        images
        in this way will often reveal hidden flaws in a model. </p>

        <h3 id="next-steps">Next Steps</h3>

      <p>That's all you need to get started with Gradio! To see a list of all the components available, check out the <a href="/docs">Docs</a>. To see some examples of machine learning models using Gradio, check out the <a href="/ml_examples">ML Examples</a> page.</p>
      <p>
        <a href="/#contact-box">Let us know</a> what interfaces we should add next, or feel free to
        contribute to the <a href="https://github.com/gradio-app/gradio-UI" target="_blank">open-source library</a>.
      </p>
      <h3 id="sharing">Sharing Interfaces Publicly & Privacy</h3>
      <p>
        Interfaces can be easily shared publicly by setting <code>share=True</code> in the
        <code>launch()</code> method. Like this: </p>

      <pre><code class="lang-python">gr.Interface(classify_image, image, label).launch(share=True)</code></pre>

      <p>
        This generates a public, shareable link that you can send to anybody! When you send this link, the user
        on the other side can try out the model in their browser. Because the processing happens on your device
          (as long as your device stays on!), you don't have to worry about any dependencies. If you're working out of
          colab notebook, a share link is always automatically created. It usually looks something like this: <strong>
          XXXXX.gradio.app</strong>. Although the link is served through a gradio link, we are only a proxy for your local server, and do not store any data sent through the interfaces.
      </strong></p>

        <p>Keep in mind, however, that these links are publicly accessible, meaning that anyone can use your model
            for prediction! Therefore, make sure not to expose any
            sensitive information through the functions you write, or allow any critical changes to occur on
            your device. If you set <code>share=False</code> (the default), only a local link is created, which
            can be shared by <a href="https://www.ssh.com/ssh/tunneling/example">port-forwarding</a> with specific
            users. </p>

        <p>
      </p>
      <p>
        Links expire after 6 hours. Need longer links, or private links? <a href="/#contact-box">Contact us for Gradio Teams</a>.
      </p>
      <div class="screenshot">
        <img src="static/home/img/sharing.png">
      </div>
    </div>
  </main>
  <footer>
    <div id="footer-set" class="container">
      <img id="bottom-logo" src="static/home/img/logo_inline.png" />
      <div>
        <a href="https://twitter.com/teamGradio" target="_blank"><img class="social-logo" src="static/home/img/twitter.png" /></a>
        <a href="https://github.com/gradio-app/gradio-UI"><img class="social-logo" src="static/home/img/github.svg" /></a>
      </div>
    </div>
  </footer>
  <script src="static/home/js/prism.js"></script>
  {% include 'footer.html' %}
  <script>
    configs = {{configs|tojson}};
    for (let [i, config] of configs.entries()) {
      model_num = 3 + i;
      gradio_url(config, "/model/" + model_num, "#interface_" + model_num);
    }
  </script>
</body>

</html>