  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123499302-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123499302-2');
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:url" content="https://gradio.app/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://gradio.app/static/home/img/logo_social.png" />
  <meta property="og:title" content="Gradio" />
  <meta property="og:description" content="Generate an easy-to-use UI for your ML model, function, or API with only a few lines of code." />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@teamGradio">
  <meta name="twitter:title" content="Gradio">
  <meta name="twitter:description" content="Generate an easy-to-use UI for your ML model, function, or API with only a few lines of code.">
  <meta name="twitter:image" content="https://gradio.app/static/home/img/logo_social.png">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="static/css/gradio.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="static/css/interfaces/input/csv.css">
  <link rel="stylesheet" href="static/css/interfaces/input/image.css">
  <link rel="stylesheet" href="static/css/interfaces/input/sketchpad.css">
  <link rel="stylesheet" href="static/css/interfaces/input/textbox.css">
  <link rel="stylesheet" href="static/css/interfaces/input/radio.css">
  <link rel="stylesheet" href="static/css/interfaces/input/dropdown.css">
  <link rel="stylesheet" href="static/css/interfaces/input/checkbox_group.css">
  <link rel="stylesheet" href="static/css/interfaces/input/slider.css">
  <link rel="stylesheet" href="static/css/interfaces/input/csv.css">
  <link rel="stylesheet" href="static/css/interfaces/input/webcam.css">
  <link rel="stylesheet" href="static/css/interfaces/input/microphone.css">
  <link rel="stylesheet" href="static/css/interfaces/output/image.css">
  <link rel="stylesheet" href="static/css/interfaces/output/label.css">
  <link rel="stylesheet" href="static/css/interfaces/output/key_values.css">
  <link rel="stylesheet" href="static/css/interfaces/output/textbox.css">
  <link rel="stylesheet" href="static/css/loading.css"/>
  <!-- TUI EDITOR -->
  <link type="text/css" href="static/css/vendor/tui-color-picker.css" rel="stylesheet">
  <link type="text/css" href="static/css/vendor/tui-image-editor.css" rel="stylesheet">
