<html>

<head>
  <title>Gradio | Hub</title>
  {% include 'header.html' %}
  <link href="/static/home/style/hub.css" rel="stylesheet">
</head>

<body id="hub_host">
  <div id="header_holder" class="container">
    <header class="container">
      <a href="/hub" id="back">
        <img src="/static/home/img/back.png">
        <span>More Models on Hub</span>
      </a>
      <div id="gradio-tag">
        <a href="/" class="primary">
          <img id="logo" src="/static/home/img/logo_host.png">
        </a>
        <div id="star-link">
          <a class="github-button" href="https://github.com/gradio-app/gradio-UI" data-icon="octicon-star" data-size="small" data-show-count="true" aria-label="Star gradio-app/gradio-UI on GitHub">Star</a>      
        </div>
      </div>
    </header>
  </div>
  <div id="interface"></div>

<script src="/static/home/js/github-buttons.js"></script>
{% include 'footer.html' %}
<script>
  let model_url = "{{ model_url }}"
  let config = JSON.parse({{ model_config|tojson }});
  gradio_url(config, `${model_url}api/predict/`, "#interface", model_url + "file/");
</script>
</body>

</html>
